.mainTopic{
      align-items: center;
      padding-left: 600px;
      padding-top: 100px;
   
}
.mainTopic span{
      padding-left: 150px;
      color: #2F4EDA;
      font-weight: bold;
}
.paragraph{
      display: flex;
      gap: 200px;
      justify-content: center;
      padding-top: 40px;
}
.longImage img{
      width: 1689px;
      height: auto;
      padding-top: 80px;
}
.joinPart h3{
      margin-left: 500px;
      
      
      
}
.joinPart p{
      margin-left: 350px;
      padding-top: 10px;

}
.joinPart button{
      margin-left: 550px;
      margin-top: 10px;
      width: 250px;
      height: 60px;
}
.joinPart{
      padding-top: 60px;
}
.footer{
      background:#1F2937;
      display: flex;
      padding-left: 200px;
      justify-content: space-between;
      padding-right: 200px;
      height: 300px;
      margin-top: 100px;
      
      
      
      
}
.part1 {
      margin-top: 100px;
      display: flex;
      
}
.part2 {
      margin-top: 100px;
}
.part3 {
      margin-top: 100px;
}
.part4 {
      margin-top: 100px;
}
.footer a{
      text-decoration: none;
      
}
.footer ul{
      list-style: none;
      
}
.part1 li{
      row-gap: 100px;
}
.footer li {
      margin-bottom: 20px; 
  }
.all{
      background: #1F2937;
      text-align: center;
}
