@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

.mainTopic{
      align-items: center;
      padding-left: 600px;
      padding-top: 40px;
      font-family: 'Cantarell', sans-serif;
   
}
.mainTopic span{
      padding-left: 150px;
      color: #2F4EDA;
      font-weight: bold;
      font-family: 'Cantarell', sans-serif;
      
}
.paragraph{
      display: flex;
      gap: 200px;
      justify-content: center;
      margin-top: -60px;
      font-family: 'Cantarell', sans-serif;
      
}
.longImage img{
      width: 1689px;
      height: auto;
      padding-top: 80px;
}
.joinPart{
      padding-left: 150px;
}
.joinPart h3{
      margin-left: 500px;
      
      
      
}
.joinPart p{
      margin-left: 350px;
      padding-top: 10px;
      font-family: 'Cantarell', sans-serif;

}
.joinPart button{
      margin-left: 550px;
      margin-top: 10px;
      width: 250px;
      height: 60px;
      font-family: 'Cantarell', sans-serif;
}
.joinPart{
      padding-top: 60px;
      font-family: 'Cantarell', sans-serif;
}
.footer{
      background:#1F2937;
      display: flex;
      padding-left: 200px;
      justify-content: space-between;
      padding-right: 200px;
      height: 300px;
      margin-top: 100px;
      font-family: 'Cantarell', sans-serif;
      
      
      
      
      
}
.part1 {
      margin-top: 100px;
      display: flex;
      
}
.part2 {
      margin-top: 100px;
}
.part3 {
      margin-top: 100px;
}
.part4 {
      margin-top: 100px;
}
.footer a{
      text-decoration: none;
      color: #9CA3AF;
      
}
.footer ul{
      list-style: none;
      
}
.part1 li{
      row-gap: 100px;
}
.footer li {
      margin-bottom: 20px; 
  }
.all{
      background: #1F2937;
      text-align: center;
      color: #9CA3AF;
      padding-bottom: 40px;
}
.mainPart{
      display: flex;
      justify-content: center;
      gap: 200px;
      padding-top: 40px;
}
.imagePart{
      display: flex;
      gap: 20px;
      
}
.paraB{
      display: flex;
      gap: 20px;
}
.sara img{
      width: 40px;
}
.imagePart img{
      width: 40px;
}
.hear{
      padding-top: 20px;
      font-family: 'Cantarell', sans-serif;
}

