@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Cantarell', sans-serif; 
}


.header{
      background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
      height: 100px;

}
.header img{
      width: 130px;
      height: 100px;
}
.headerTopic{
      background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
      margin-top: -40px;
      padding-left: 490px;
      height: 100px;
      

}
.headerTopic p{
      margin-right: 200px;
      color:#FFFFFF ;
}
.header h1{
      color:#FFFFFF ;
      font-size: 24px;
      padding-left: 40px;
      
}
.loginInfo{
      background: #e5eaec;
      width: 700px;
      height: 500px;
      margin-left: 400px;
      margin-top: 100px;
      padding-left: 40px;
    
}
input{
      border: 1px solid #D1D5DB;
      width: 600px;
      height: 50px;
}
.loginInfo .creation{
  font-size: 25px;
  font-weight: 800;
  
}
.info{
  padding-top: 10px;
}
.buttons {
  display: flex;
  gap: 40px;
  padding-left: 90px;
}
.buttons button{
  border: 1px solid #00a8c5;
  width: 200px;
  height: 45px;
  margin-top: 10px;
  
}
.terms{
  padding-right: 100px;
}