@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cantarell', sans-serif;
}

.header {
  background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header img {
  width: 130px;
  height: 100px;
}

.headerTopic {
  background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
  margin-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerTopic h1,
.headerTopic p {
  color: #ffffff;
}

.loginInfo {
  background: #e5eaec;
  width: 700px;
  height: 500px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.info input {
  border: 1px solid #D1D5DB;
  width: 90%;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
}

.loginInfo .creation {
  font-size: 25px;
  font-weight: 800;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.buttons button {
  border: 1px solid #00a8c5;
  width: 200px;
  height: 45px;
}

.continue-btn {
  border: 1px solid #00a8c5;
  width: 90%;
  background: #00a8c5;
  height: 50px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.terms {
  margin-top: 10px;
  font-size: 14px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 45px;
  border: 1px solid #3a5058;
  background: white;
  cursor: pointer;
}

.social-buttons img {
  width: 20px;
  height: 20px;
}
