@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cantarell', sans-serif;
}
.finalContent{
  
  background: rgb(224, 219, 219);
  height: 350px;
  width: 600px;
  padding-bottom: 100px;
  margin-left: 380px;
  padding-left: 120px;
  margin-top: -35px;
  border-radius: 10px;
}
.complete{

  color: #269EB2;
  font-size: 30px;
  font-weight: 800;
  
}
.finalContent img{
  margin-left: 80px;
  height: 150px;
  width: 140px;
  margin-bottom: -50px;
}
.welcome{
  padding-left: 45px;
  color: #4B5563;
}
.exp{
  margin-left: -70px;
  color: #4B5563;
}
.we{
  padding-left: 10px;
  color: #4B5563;
}
.finalbutton{
  
  background: #269EB2;
  height: 40px;
  width: 550px;
  margin-left: -90px;
  margin-top: 20px;
  border-radius: 7px;
  color: white;
}
.need{
  padding-left: 580px;
  padding-top: 10px;
}
.is{
  padding-left: 80px;
}
.headerTopic h1{
  font-weight: 900;
}
