@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cantarell', sans-serif;
}

.header {
  background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
  height: 100px;
}

.header img {
  width: 130px;
  height: 100px;
}

.headerTopic {
  background: linear-gradient(to right, #3a5058 20%, #00a8c5 80%);
  margin-top: -40px;
  padding-left: 490px;
  height: 100px;
}

.headerTopic p {
  margin-right: 200px;
  color: #FFFFFF;
}

.header h1 {
  color: #FFFFFF;
  font-size: 24px;
  padding-left: 40px;
}